/***************************** common********************/
body{
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

.btn:hover{
    transition: .5s;
    cursor: pointer;
    background-color: #9e4147;
}

.btn{
    background-color: #EE626B;
    padding: 5px 15px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
}


.red-word{
    color: #EE626B;
    font-weight: 600;
}

.header-word{
    font-weight: 700;
    font-size: 30px;
}
/************************ header ************************/
.header, .landing-page{
    background-color: #0071f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px;
}

.logo{
    width: 150px;
}


.header-links{
    width: 50%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    list-style: none;
}

.header-links a{
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
}

.header-links button{
    height: 50px;
    width: 90px;
    border-radius: 50px;
}


.header-links a:hover{
    background-color: #2386fe;
    transition: .5s;
}

.landing-page{
    color: white;
    border-radius: 0px 0px 50px 50px;
}

.landing-page-search{
    margin-top: 80px;
}

.landing-page-search input{
    border-radius: 50px;
    border:none;
    outline: none;
    height: 52px;
    width: 360px;
    padding: 0px 10px;
    font-weight: 700px;
    font-size: 20px;
}

.landing-page button{
    position: absolute;
    left: 550px;
    height: 52px;
    width: 150px;
    border-radius: 50px;
}

.landing-page-img{
    border-radius: 20px;
    height: 400px;
}

.landing-page-left-section{
    width: 700px;
}


/*************************************** trending section ***********************************/
.trending-section{
    padding: 80px 250px;
}

.section-header{
    display: flex;
    justify-content: space-between;
}

.section-header button{
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    margin-top: 30px;
}

.trending-cards{
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
}

.trending-card{
    border-radius: 20px;
    background-color: #eeeeee;
    width: fit-content;
}

.trending-card img{
    border-radius: 20px 20px 0px 0px;
}

.trending-card-info{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}
.trending-card-info p, h3{
    margin: 0px;
}

.trending-card-info img{
    width: 50px;
    
}

.trending-card-info img:hover{
    transform: scale(1.3);
    transition: .3s;
    cursor: pointer;
}


/*********************** top games section *********************/
.top-games-section{
    margin-top: 50px;
    background-color: #eeeeee;
    border-radius: 100px;
    padding: 70px 250px 40px 250px;
}

.top-games-cards{
    display: flex;
    padding: 50px 0px 0px 0px;
    justify-content: space-between;
}

.top-games-cards img{
    width: 100%;
    border-radius: 30px;
}

.top-games-card{
    text-align: center;
}

.top-games-card button{
    margin-top: 20px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700px;
}


/*********************** top categories section *********************/

.top-categories-section{
    padding: 150px 250px 40px 250px;
    text-align: center;
}

.top-categories-section-cards{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.top-categories-section-card{
    background-color: #2177fd;
    width: fit-content;
    height: 100px;
    padding-top: 8px;
    border-radius: 15px;
}

.top-categories-section-card:hover{
    transform: scale(1.1);
    transition: .4s;
}

.top-categories-section-card img{
    border-radius: 15px;
}

.top-categories-section-card p{
    margin: 0px 0px 10px 0px;
}


/*********************** footer *********************/

.footer{
    margin-top: 200px;
    background-color: #2177fd;
    height: 100px;
    text-align: center;
    border-radius: 100px 100px 0px 0px;
    padding-top: 80px;
    color: white;
}